# Data cleaning, wrangling and merging of databases

## Bike rental starter kit

### Import modules

In [130]:
import pandas as pd
import glob
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
import psycopg2

### Concatenation of bike rental data

In [131]:
files = glob.glob('JC-2016**-citibike-tripdata.csv')
df_list = []

for file in files:
    data = pd.read_csv(file)
    df_list.append(data)

rental_data = pd.concat(df_list)

### Examination of bike rental data

In [132]:
print(rental_data.head(10))
print(rental_data.info())

   Trip Duration           Start Time            Stop Time  Start Station ID  \
0            362  2016-01-01 00:02:52  2016-01-01 00:08:54              3186
1            200  2016-01-01 00:18:22  2016-01-01 00:21:42              3186
2            202  2016-01-01 00:18:25  2016-01-01 00:21:47              3186
3            248  2016-01-01 00:23:13  2016-01-01 00:27:21              3209
4            903  2016-01-01 01:03:20  2016-01-01 01:18:24              3195
5            883  2016-01-01 01:03:28  2016-01-01 01:18:11              3195
6            445  2016-01-01 01:07:45  2016-01-01 01:15:11              3186
7            192  2016-01-01 01:18:51  2016-01-01 01:22:03              3211
8            409  2016-01-01 01:23:44  2016-01-01 01:30:34              3187
9            285  2016-01-01 01:25:12  2016-01-01 01:29:57              3187

  Start Station Name  Start Station Latitude  Start Station Longitude  \
0      Grove St PATH               40.719586               -74.043117
1      Grove St PATH               40.719586               -74.043117
2      Grove St PATH               40.719586               -74.043117
3       Brunswick St               40.724176               -74.050656
4            Sip Ave               40.730743               -74.063784
5            Sip Ave               40.730743               -74.063784
6      Grove St PATH               40.719586               -74.043117
7         Newark Ave               40.721525               -74.046305
8          Warren St               40.721124               -74.038051
9          Warren St               40.721124               -74.038051

   End Station ID  End Station Name  End Station Latitude  \
0            3209      Brunswick St             40.724176
1            3213    Van Vorst Park             40.718489
2            3213    Van Vorst Park             40.718489
3            3203     Hamilton Park             40.727596
4            3210    Pershing Field             40.742677
5            3210    Pershing Field             40.742677
6            3203     Hamilton Park             40.727596
7            3203     Hamilton Park             40.727596
8            3214  Essex Light Rail             40.712774
9            3214  Essex Light Rail             40.712774

   End Station Longitude  Bike ID   User Type  Birth Year  Gender
0             -74.050656    24647  Subscriber      1964.0       2
1             -74.047727    24605  Subscriber      1962.0       1
2             -74.047727    24689  Subscriber      1962.0       2
3             -74.044247    24693  Subscriber      1984.0       1
4             -74.051789    24573    Customer         NaN       0
5             -74.051789    24442    Customer         NaN       0
6             -74.044247    24510  Subscriber      1988.0       2
7             -74.044247    24625  Subscriber      1980.0       1
8             -74.036486    24429  Subscriber      1990.0       1
9             -74.036486    24407  Subscriber      1988.0       2
<class 'pandas.core.frame.DataFrame'>
Index: 247584 entries, 0 to 15113
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Trip Duration            247584 non-null  int64
 1   Start Time               247584 non-null  object
 2   Stop Time                247584 non-null  object
 3   Start Station ID         247584 non-null  int64
 4   Start Station Name       247584 non-null  object
 5   Start Station Latitude   247584 non-null  float64
 6   Start Station Longitude  247584 non-null  float64
 7   End Station ID           247584 non-null  int64
 8   End Station Name         247584 non-null  object
 9   End Station Latitude     247584 non-null  float64
 10  End Station Longitude    247584 non-null  float64
 11  Bike ID                  247584 non-null  int64
 12  User Type                247204 non-null  object
 13  Birth Year               228585 non-null  float64
 14  Gender                   247584 non-null  int64
dtypes: float64(5), int64(5), object(5)
memory usage: 30.2+ MB
None

* The column titles dont follow conventional rules
* There is some data missing from User type (380 entries 0.15%) 
* There is some data missing from Birth year (18999 entries missing, 7.7 %) 
* Although there is no missing data in the Gender column, one entry is 0 which represents unknown and is therefore effectively missing data 
* Start and stop times should be dates (changed below)

In [133]:
rental_data.columns = [x.replace(' ','_') for x in rental_data.columns]
rental_data.columns = [x.lower() for x in rental_data.columns]

In [134]:
rental_data['start_time'] = rental_data['start_time'].astype('datetime64[ns]')
rental_data['stop_time'] = rental_data['stop_time'].astype('datetime64[ns]')

In [135]:
rental_data.describe()

,trip_duration,start_time,stop_time,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,birth_year,gender
count,2.475840e+05,247584,247584,247584.000000,247584.000000,247584.000000,247584.000000,247584.000000,247584.000000,247584.000000,228585.000000,247584.000000
mean,8.856305e+02,2016-07-29 05:55:07.541335040,2016-07-29 06:09:53.671073536,3207.065206,40.723121,-74.046438,3203.572553,40.722594,-74.045855,24935.260481,1979.335276,1.123534
min,6.100000e+01,2016-01-01 00:02:52,2016-01-01 00:08:54,3183.000000,40.692640,-74.096937,147.000000,40.692216,-74.096937,14552.000000,1900.000000,0.000000
25%,2.480000e+02,2016-05-27 07:46:06,2016-05-27 07:54:40.249999872,3186.000000,40.717732,-74.050656,3186.000000,40.716540,-74.050444,24491.000000,1974.000000,1.000000
50%,3.900000e+02,2016-08-10 09:23:50,2016-08-10 09:34:32.500000,3201.000000,40.721525,-74.044247,3199.000000,40.721124,-74.043117,24609.000000,1981.000000,1.000000
75%,6.660000e+02,2016-10-05 17:25:05.500000,2016-10-05 17:33:00.750000128,3211.000000,40.727596,-74.038051,3211.000000,40.727224,-74.036486,24719.000000,1986.000000,1.000000
max,1.632981e+07,2016-12-31 23:44:50,2017-01-18 14:26:46,3426.000000,40.752559,-74.032108,3426.000000,40.801343,-73.957390,27274.000000,2000.000000,2.000000
std,3.593798e+04,NaN,NaN,26.955103,0.008199,0.011211,61.579494,0.007958,0.011283,748.469712,9.596809,0.518687

* The maximum trip duration looks excessive at 189 days. In addition, the website states that bikes must be returned within 24 hours (86400 seconds)
* One of the riders appears to be 116 years old

### Further investigation into trip durations

In [136]:
long_durations = rental_data[rental_data['trip_duration'] > 86400]

print(long_durations.info())

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 307 to 14897
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_duration            93 non-null     int64
 1   start_time               93 non-null     datetime64[ns]
 2   stop_time                93 non-null     datetime64[ns]
 3   start_station_id         93 non-null     int64
 4   start_station_name       93 non-null     object
 5   start_station_latitude   93 non-null     float64
 6   start_station_longitude  93 non-null     float64
 7   end_station_id           93 non-null     int64
 8   end_station_name         93 non-null     object
 9   end_station_latitude     93 non-null     float64
 10  end_station_longitude    93 non-null     float64
 11  bike_id                  93 non-null     int64
 12  user_type                93 non-null     object
 13  birth_year               42 non-null     float64
 14  gender                   93 non-null     int64
dtypes: datetime64[ns](2), float64(5), int64(5), object(3)
memory usage: 11.6+ KB
None

* There are 93 entries that exceed the 24 hour limit. As these could be caused by bad docking it is important that they are kept within the results. A new column will therefore be added to state if the time limit has been exceeded. 
* In addition, a new column was added to give the duration in  minutes which is more useful than seconds.

In [137]:
rental_data['duration_exceeded'] = rental_data['trip_duration'].apply(lambda x: 1 if x > 86400 else 0).astype(bool)
rental_data['duration_minutes'] = round(rental_data['trip_duration'] / 60, 2)


print(rental_data.head())

   trip_duration          start_time           stop_time  start_station_id  \
0            362 2016-01-01 00:02:52 2016-01-01 00:08:54              3186
1            200 2016-01-01 00:18:22 2016-01-01 00:21:42              3186
2            202 2016-01-01 00:18:25 2016-01-01 00:21:47              3186
3            248 2016-01-01 00:23:13 2016-01-01 00:27:21              3209
4            903 2016-01-01 01:03:20 2016-01-01 01:18:24              3195

  start_station_name  start_station_latitude  start_station_longitude  \
0      Grove St PATH               40.719586               -74.043117
1      Grove St PATH               40.719586               -74.043117
2      Grove St PATH               40.719586               -74.043117
3       Brunswick St               40.724176               -74.050656
4            Sip Ave               40.730743               -74.063784

   end_station_id end_station_name  end_station_latitude  \
0            3209     Brunswick St             40.724176
1            3213   Van Vorst Park             40.718489
2            3213   Van Vorst Park             40.718489
3            3203    Hamilton Park             40.727596
4            3210   Pershing Field             40.742677

   end_station_longitude  bike_id   user_type  birth_year  gender  \
0             -74.050656    24647  Subscriber      1964.0       2
1             -74.047727    24605  Subscriber      1962.0       1
2             -74.047727    24689  Subscriber      1962.0       2
3             -74.044247    24693  Subscriber      1984.0       1
4             -74.051789    24573    Customer         NaN       0

   duration_exceeded  duration_minutes
0              False              6.03
1              False              3.33
2              False              3.37
3              False              4.13
4              False             15.05

### Further investigation into Birth Year

In [138]:
rental_data['birth_year'].sort_values()
rental_data.drop([4417], inplace=True)
rental_data['age'] = 2016 - rental_data['birth_year']
print(rental_data.describe())

       trip_duration                     start_time  \
count   2.475720e+05                         247572
mean    8.856405e+02  2016-07-29 05:57:31.958601984
min     6.100000e+01            2016-01-01 00:02:52
25%     2.480000e+02     2016-05-27 07:46:11.500000
50%     3.900000e+02            2016-08-10 09:25:31
75%     6.660000e+02  2016-10-05 17:25:37.750000128
max     1.632981e+07            2016-12-31 23:44:50
std     3.593885e+04                            NaN

                           stop_time  start_station_id  \
count                         247572     247572.000000
mean   2016-07-29 06:12:18.098290432       3207.065318
min              2016-01-01 00:08:54       3183.000000
25%              2016-05-27 07:56:36       3186.000000
50%       2016-08-10 09:36:25.500000       3201.000000
75%              2016-10-05 17:34:12       3211.000000
max              2017-01-18 14:26:46       3426.000000
std                              NaN         26.955263

       start_station_latitude  start_station_longitude  end_station_id  \
count           247572.000000            247572.000000   247572.000000
mean                40.723121               -74.046438     3203.572516
min                 40.692640               -74.096937      147.000000
25%                 40.717732               -74.050656     3186.000000
50%                 40.721525               -74.044247     3199.000000
75%                 40.727596               -74.038051     3211.000000
max                 40.752559               -74.032108     3426.000000
std                  0.008199                 0.011211       61.580654

       end_station_latitude  end_station_longitude        bike_id  \
count         247572.000000          247572.000000  247572.000000
mean              40.722594             -74.045855   24935.264279
min               40.692216             -74.096937   14552.000000
25%               40.716540             -74.050444   24491.000000
50%               40.721124             -74.043117   24609.000000
75%               40.727224             -74.036486   24719.000000
max               40.801343             -73.957390   27274.000000
std                0.007958               0.011283     748.475924

          birth_year         gender  duration_minutes            age
count  228573.000000  247572.000000     247572.000000  228573.000000
mean     1979.335451       1.123528         14.760669      36.664549
min      1934.000000       0.000000          1.020000      16.000000
25%      1974.000000       1.000000          4.130000      30.000000
50%      1981.000000       1.000000          6.500000      35.000000
75%      1986.000000       1.000000         11.100000      42.000000
max      2000.000000       2.000000     272163.470000      82.000000
std         9.595412       0.518690        598.980795       9.595412

* The row containing the rider who was 116 years old has been removed.
* An additional column has been added to display the age of each rider which is more useful than their data of birth.

### Missing data

* There are two columns (Birth Year and User Type) containing significant amounts of missing data and the gender column also contains an unknown option, 0, which is effectively also missing data.
* Firstly the missing user type will be investigated 
* When the first 10 rows of data are inspected this missing data and gender == 0 always came from the customer selection in User Type
* The data will be filtered for each User Type and the missing values recounted.

In [139]:
print(rental_data['user_type'].unique())

missing_user_type = rental_data[rental_data[['user_type']].isnull().any(axis=1)]

print(missing_user_type['gender'].value_counts())
print(missing_user_type.info())

['Subscriber' 'Customer' nan]
gender
1    262
2    118
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 380 entries, 9538 to 14273
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_duration            380 non-null    int64
 1   start_time               380 non-null    datetime64[ns]
 2   stop_time                380 non-null    datetime64[ns]
 3   start_station_id         380 non-null    int64
 4   start_station_name       380 non-null    object
 5   start_station_latitude   380 non-null    float64
 6   start_station_longitude  380 non-null    float64
 7   end_station_id           380 non-null    int64
 8   end_station_name         380 non-null    object
 9   end_station_latitude     380 non-null    float64
 10  end_station_longitude    380 non-null    float64
 11  bike_id                  380 non-null    int64
 12  user_type                0 non-null      object
 13  birth_year               380 non-null    float64
 14  gender                   380 non-null    int64
 15  duration_exceeded        380 non-null    bool
 16  duration_minutes         380 non-null    float64
 17  age                      380 non-null    float64
dtypes: bool(1), datetime64[ns](2), float64(7), int64(5), object(3)
memory usage: 53.8+ KB
None

* The missing user type rows do not have missing Birth Years or genders = 0. Therefore this data is still useful. The NaN results will therefore be changed to unknown user types.

In [140]:
rental_data = rental_data.fillna(value={'user_type': 'Unknown'})
print(rental_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 247572 entries, 0 to 15113
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   trip_duration            247572 non-null  int64
 1   start_time               247572 non-null  datetime64[ns]
 2   stop_time                247572 non-null  datetime64[ns]
 3   start_station_id         247572 non-null  int64
 4   start_station_name       247572 non-null  object
 5   start_station_latitude   247572 non-null  float64
 6   start_station_longitude  247572 non-null  float64
 7   end_station_id           247572 non-null  int64
 8   end_station_name         247572 non-null  object
 9   end_station_latitude     247572 non-null  float64
 10  end_station_longitude    247572 non-null  float64
 11  bike_id                  247572 non-null  int64
 12  user_type                247572 non-null  object
 13  birth_year               228573 non-null  float64
 14  gender                   247572 non-null  int64
 15  duration_exceeded        247572 non-null  bool
 16  duration_minutes         247572 non-null  float64
 17  age                      228573 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(7), int64(5), object(3)
memory usage: 34.2+ MB
None

In [141]:
df_subscriber = rental_data[rental_data['user_type'] == 'Subscriber']
df_customer = rental_data[rental_data['user_type'] == 'Customer']

print(df_subscriber.info())
print(df_customer.info())

print('Subscribed:', df_subscriber['gender'].value_counts())
print('Customer:', df_customer['gender'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Index: 231671 entries, 0 to 15113
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   trip_duration            231671 non-null  int64
 1   start_time               231671 non-null  datetime64[ns]
 2   stop_time                231671 non-null  datetime64[ns]
 3   start_station_id         231671 non-null  int64
 4   start_station_name       231671 non-null  object
 5   start_station_latitude   231671 non-null  float64
 6   start_station_longitude  231671 non-null  float64
 7   end_station_id           231671 non-null  int64
 8   end_station_name         231671 non-null  object
 9   end_station_latitude     231671 non-null  float64
 10  end_station_longitude    231671 non-null  float64
 11  bike_id                  231671 non-null  int64
 12  user_type                231671 non-null  object
 13  birth_year               228142 non-null  float64
 14  gender                   231671 non-null  int64
 15  duration_exceeded        231671 non-null  bool
 16  duration_minutes         231671 non-null  float64
 17  age                      228142 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(7), int64(5), object(3)
memory usage: 32.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 15521 entries, 4 to 15110
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_duration            15521 non-null  int64
 1   start_time               15521 non-null  datetime64[ns]
 2   stop_time                15521 non-null  datetime64[ns]
 3   start_station_id         15521 non-null  int64
 4   start_station_name       15521 non-null  object
 5   start_station_latitude   15521 non-null  float64
 6   start_station_longitude  15521 non-null  float64
 7   end_station_id           15521 non-null  int64
 8   end_station_name         15521 non-null  object
 9   end_station_latitude     15521 non-null  float64
 10  end_station_longitude    15521 non-null  float64
 11  bike_id                  15521 non-null  int64
 12  user_type                15521 non-null  object
 13  birth_year               51 non-null     float64
 14  gender                   15521 non-null  int64
 15  duration_exceeded        15521 non-null  bool
 16  duration_minutes         15521 non-null  float64
 17  age                      51 non-null     float64
dtypes: bool(1), datetime64[ns](2), float64(7), int64(5), object(3)
memory usage: 2.1+ MB
None
Subscribed: gender
1    176890
2     50350
0      4431
Name: count, dtype: int64
Customer: gender
0    15470
1       36
2       15
Name: count, dtype: int64

* Missing Birth Year:\
Subscriber: 1.5 %\
Customer: 99.7 %

* Gender = 0:\
Subscriber: 1.9 %\
Customer: 99.7 %

* The majority of the missing data and gender=0 is from the customer user type. This cant be deleted as it covers the majority of the customer entries.

### Creating date related columns

In [142]:
# getting date only
rental_data['date'] = rental_data['start_time'].dt.date
print(rental_data.head())

   trip_duration          start_time           stop_time  start_station_id  \
0            362 2016-01-01 00:02:52 2016-01-01 00:08:54              3186
1            200 2016-01-01 00:18:22 2016-01-01 00:21:42              3186
2            202 2016-01-01 00:18:25 2016-01-01 00:21:47              3186
3            248 2016-01-01 00:23:13 2016-01-01 00:27:21              3209
4            903 2016-01-01 01:03:20 2016-01-01 01:18:24              3195

  start_station_name  start_station_latitude  start_station_longitude  \
0      Grove St PATH               40.719586               -74.043117
1      Grove St PATH               40.719586               -74.043117
2      Grove St PATH               40.719586               -74.043117
3       Brunswick St               40.724176               -74.050656
4            Sip Ave               40.730743               -74.063784

   end_station_id end_station_name  end_station_latitude  \
0            3209     Brunswick St             40.724176
1            3213   Van Vorst Park             40.718489
2            3213   Van Vorst Park             40.718489
3            3203    Hamilton Park             40.727596
4            3210   Pershing Field             40.742677

   end_station_longitude  bike_id   user_type  birth_year  gender  \
0             -74.050656    24647  Subscriber      1964.0       2
1             -74.047727    24605  Subscriber      1962.0       1
2             -74.047727    24689  Subscriber      1962.0       2
3             -74.044247    24693  Subscriber      1984.0       1
4             -74.051789    24573    Customer         NaN       0

   duration_exceeded  duration_minutes   age        date
0              False              6.03  52.0  2016-01-01
1              False              3.33  54.0  2016-01-01
2              False              3.37  54.0  2016-01-01
3              False              4.13  32.0  2016-01-01
4              False             15.05   NaN  2016-01-01

In [143]:
# Creating day of week column
rental_data['day'] = rental_data['date'].apply(lambda x: x.strftime('%A'))
rental_data['month'] = rental_data['date'].apply(lambda x: x.strftime('%B'))
rental_data['month_id'] = rental_data['date'].apply(lambda x: x.month)
rental_data['weekend'] = rental_data['day'].apply(lambda x: 1 if (x == 'Saturday' or x == 'Sunday') else 0).astype(bool)
print(rental_data.head())

   trip_duration          start_time           stop_time  start_station_id  \
0            362 2016-01-01 00:02:52 2016-01-01 00:08:54              3186
1            200 2016-01-01 00:18:22 2016-01-01 00:21:42              3186
2            202 2016-01-01 00:18:25 2016-01-01 00:21:47              3186
3            248 2016-01-01 00:23:13 2016-01-01 00:27:21              3209
4            903 2016-01-01 01:03:20 2016-01-01 01:18:24              3195

  start_station_name  start_station_latitude  start_station_longitude  \
0      Grove St PATH               40.719586               -74.043117
1      Grove St PATH               40.719586               -74.043117
2      Grove St PATH               40.719586               -74.043117
3       Brunswick St               40.724176               -74.050656
4            Sip Ave               40.730743               -74.063784

   end_station_id end_station_name  end_station_latitude  ...  birth_year  \
0            3209     Brunswick St             40.724176  ...      1964.0
1            3213   Van Vorst Park             40.718489  ...      1962.0
2            3213   Van Vorst Park             40.718489  ...      1962.0
3            3203    Hamilton Park             40.727596  ...      1984.0
4            3210   Pershing Field             40.742677  ...         NaN

   gender duration_exceeded  duration_minutes   age        date     day  \
0       2             False              6.03  52.0  2016-01-01  Friday
1       1             False              3.33  54.0  2016-01-01  Friday
2       2             False              3.37  54.0  2016-01-01  Friday
3       1             False              4.13  32.0  2016-01-01  Friday
4       0             False             15.05   NaN  2016-01-01  Friday

     month month_id weekend
0  January        1   False
1  January        1   False
2  January        1   False
3  January        1   False
4  January        1   False

[5 rows x 23 columns]

## Weather data

### Uploading data

In [144]:
weather = pd.read_csv('newark_airport_2016.csv')

### Examination of weather data

In [145]:
print(weather.head())
print(weather.info())

       STATION                                         NAME        DATE  \
0  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-01
1  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-02
2  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-03
3  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-04
4  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-05

    AWND  PGTM  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN  TSUN  WDF2   WDF5  WSF2  \
0  12.75   NaN   0.0   0.0   0.0    41    43    34   NaN   270  280.0  25.9
1   9.40   NaN   0.0   0.0   0.0    36    42    30   NaN   260  260.0  21.0
2  10.29   NaN   0.0   0.0   0.0    37    47    28   NaN   270  250.0  23.9
3  17.22   NaN   0.0   0.0   0.0    32    35    14   NaN   330  330.0  25.9
4   9.84   NaN   0.0   0.0   0.0    19    31    10   NaN   360  350.0  25.1

   WSF5
0  35.1
1  25.1
2  30.0
3  33.1
4  31.1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  366 non-null    object
 1   NAME     366 non-null    object
 2   DATE     366 non-null    object
 3   AWND     366 non-null    float64
 4   PGTM     0 non-null      float64
 5   PRCP     366 non-null    float64
 6   SNOW     366 non-null    float64
 7   SNWD     366 non-null    float64
 8   TAVG     366 non-null    int64
 9   TMAX     366 non-null    int64
 10  TMIN     366 non-null    int64
 11  TSUN     0 non-null      float64
 12  WDF2     366 non-null    int64
 13  WDF5     364 non-null    float64
 14  WSF2     366 non-null    float64
 15  WSF5     364 non-null    float64
dtypes: float64(9), int64(4), object(3)
memory usage: 45.9+ KB
None

Observations:
* Column names dont follow the standard convention
* Some of the column names have no obvious meaning:
    * AWND = average daily wind speed (miles per hour)
    * PRCP = precipitation (inches)
    * SNOW = Snowfall (inches)
    * SNWD = Snow depth (imnches)
    * TAVG = Average temperature (Fahrenheit)
    * TMAX = Max temp (Fahrenheit)
    * TMIN = Min temp (Fahrenheit)
    * WDF2 = Direction of fastest 2-second wind - can be removed as dont know when in the day this occured
    * WDF5 = Direction of fastest 5-second wind - can be removed as dont know when in the day this occured
    * WSF2 = Speed of fastest 2-second wind - can be removed as dont know when in the day this occured
    * WSF5 = Speed of fastest 5-second wind - can be removed as dont know when in the day this occured 

* Station and name are not needed as all the data is from the same location
* Date should be in datetime
* PGTM and TSUN have no values and can therefore be dropped
* There is some missing data in WDF5 and WSF5

In [146]:
weather.columns = [x.lower() for x in weather.columns]
weather = weather.drop(labels=['station', 'name', 'pgtm', 'tsun', 'wdf2', 'wdf5', 'wsf2', 'wsf5'], axis=1)

In [147]:
weather = weather.rename(columns={'awnd':'average_wind_speed', 'prcp':'rainfall', 'snow':'snowfall', 'snwd':'snow_depth'})
print(weather.head())

         date  average_wind_speed  rainfall  snowfall  snow_depth  tavg  tmax  \
0  2016-01-01               12.75       0.0       0.0         0.0    41    43
1  2016-01-02                9.40       0.0       0.0         0.0    36    42
2  2016-01-03               10.29       0.0       0.0         0.0    37    47
3  2016-01-04               17.22       0.0       0.0         0.0    32    35
4  2016-01-05                9.84       0.0       0.0         0.0    19    31

   tmin
0    34
1    30
2    28
3    14
4    10

In [148]:
weather['date'] = weather['date'].astype('datetime64[ns]')

In [149]:
print(weather.head())
print(weather.info())

        date  average_wind_speed  rainfall  snowfall  snow_depth  tavg  tmax  \
0 2016-01-01               12.75       0.0       0.0         0.0    41    43
1 2016-01-02                9.40       0.0       0.0         0.0    36    42
2 2016-01-03               10.29       0.0       0.0         0.0    37    47
3 2016-01-04               17.22       0.0       0.0         0.0    32    35
4 2016-01-05                9.84       0.0       0.0         0.0    19    31

   tmin
0    34
1    30
2    28
3    14
4    10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                366 non-null    datetime64[ns]
 1   average_wind_speed  366 non-null    float64
 2   rainfall            366 non-null    float64
 3   snowfall            366 non-null    float64
 4   snow_depth          366 non-null    float64
 5   tavg                366 non-null    int64
 6   tmax                366 non-null    int64
 7   tmin                366 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(3)
memory usage: 23.0 KB
None

In [150]:
print(weather.describe())

                      date  average_wind_speed    rainfall    snowfall  \
count                  366          366.000000  366.000000  366.000000
mean   2016-07-01 12:00:00            9.429973    0.104945    0.098087
min    2016-01-01 00:00:00            2.460000    0.000000    0.000000
25%    2016-04-01 06:00:00            6.765000    0.000000    0.000000
50%    2016-07-01 12:00:00            8.720000    0.000000    0.000000
75%    2016-09-30 18:00:00           11.410000    0.030000    0.000000
max    2016-12-31 00:00:00           22.820000    2.790000   24.000000
std                    NaN            3.748174    0.307496    1.276498

       snow_depth        tavg        tmax        tmin
count  366.000000  366.000000  366.000000  366.000000
mean     0.342623   57.196721   65.991803   48.459016
min      0.000000    8.000000   18.000000    0.000000
25%      0.000000   43.000000   51.250000   35.000000
50%      0.000000   56.000000   66.000000   47.000000
75%      0.000000   74.000000   83.000000   64.000000
max     20.100000   89.000000   99.000000   80.000000
std      2.078510   17.466981   18.606301   17.135790

* All of the data now looks reliable. It would also be helpful to have boolean columns for rain and snow.

In [151]:
weather['rain'] = weather['rainfall'].apply(lambda x: 1 if x > 0 else 0).astype(bool)
weather['snow'] = weather['snowfall'].apply(lambda x: 1 if x > 0 else 0).astype(bool)

In [152]:
print(weather.head())

        date  average_wind_speed  rainfall  snowfall  snow_depth  tavg  tmax  \
0 2016-01-01               12.75       0.0       0.0         0.0    41    43
1 2016-01-02                9.40       0.0       0.0         0.0    36    42
2 2016-01-03               10.29       0.0       0.0         0.0    37    47
3 2016-01-04               17.22       0.0       0.0         0.0    32    35
4 2016-01-05                9.84       0.0       0.0         0.0    19    31

   tmin   rain   snow
0    34  False  False
1    30  False  False
2    28  False  False
3    14  False  False
4    10  False  False

In [153]:
print(rental_data.head())
print(weather.head())

   trip_duration          start_time           stop_time  start_station_id  \
0            362 2016-01-01 00:02:52 2016-01-01 00:08:54              3186
1            200 2016-01-01 00:18:22 2016-01-01 00:21:42              3186
2            202 2016-01-01 00:18:25 2016-01-01 00:21:47              3186
3            248 2016-01-01 00:23:13 2016-01-01 00:27:21              3209
4            903 2016-01-01 01:03:20 2016-01-01 01:18:24              3195

  start_station_name  start_station_latitude  start_station_longitude  \
0      Grove St PATH               40.719586               -74.043117
1      Grove St PATH               40.719586               -74.043117
2      Grove St PATH               40.719586               -74.043117
3       Brunswick St               40.724176               -74.050656
4            Sip Ave               40.730743               -74.063784

   end_station_id end_station_name  end_station_latitude  ...  birth_year  \
0            3209     Brunswick St             40.724176  ...      1964.0
1            3213   Van Vorst Park             40.718489  ...      1962.0
2            3213   Van Vorst Park             40.718489  ...      1962.0
3            3203    Hamilton Park             40.727596  ...      1984.0
4            3210   Pershing Field             40.742677  ...         NaN

   gender duration_exceeded  duration_minutes   age        date     day  \
0       2             False              6.03  52.0  2016-01-01  Friday
1       1             False              3.33  54.0  2016-01-01  Friday
2       2             False              3.37  54.0  2016-01-01  Friday
3       1             False              4.13  32.0  2016-01-01  Friday
4       0             False             15.05   NaN  2016-01-01  Friday

     month month_id weekend
0  January        1   False
1  January        1   False
2  January        1   False
3  January        1   False
4  January        1   False

[5 rows x 23 columns]
        date  average_wind_speed  rainfall  snowfall  snow_depth  tavg  tmax  \
0 2016-01-01               12.75       0.0       0.0         0.0    41    43
1 2016-01-02                9.40       0.0       0.0         0.0    36    42
2 2016-01-03               10.29       0.0       0.0         0.0    37    47
3 2016-01-04               17.22       0.0       0.0         0.0    32    35
4 2016-01-05                9.84       0.0       0.0         0.0    19    31

   tmin   rain   snow
0    34  False  False
1    30  False  False
2    28  False  False
3    14  False  False
4    10  False  False

## Dataframes for SQL tables

### Weather

In [154]:
weather_sql = weather[['date', 'rain', 'snow', 'tavg', 'average_wind_speed']]
print(weather_sql.head())

        date   rain   snow  tavg  average_wind_speed
0 2016-01-01  False  False    41               12.75
1 2016-01-02  False  False    36                9.40
2 2016-01-03  False  False    37               10.29
3 2016-01-04  False  False    32               17.22
4 2016-01-05  False  False    19                9.84

### Station

In [155]:
# select data for start and end stations
start_station = rental_data[['start_station_id', 'start_station_name', 'start_station_latitude', 'start_station_longitude']]
end_station = rental_data[['end_station_id', 'end_station_name', 'end_station_latitude', 'end_station_longitude']]

# rename columns so that they match for start and end stations
start_station.columns = ['station_id', 'station_name', 'station_latitude', 'station_longitude']
end_station.columns = ['station_id', 'station_name', 'station_latitude', 'station_longitude']

# merge data into one table for all stations and drop duplicates
station_sql = pd.concat([start_station, end_station])
station_sql = station_sql.drop_duplicates().reset_index(drop=True)

In [156]:
print(start_station.head())
print(end_station.head())
print(station_sql.head())

   station_id   station_name  station_latitude  station_longitude
0        3186  Grove St PATH         40.719586         -74.043117
1        3186  Grove St PATH         40.719586         -74.043117
2        3186  Grove St PATH         40.719586         -74.043117
3        3209   Brunswick St         40.724176         -74.050656
4        3195        Sip Ave         40.730743         -74.063784
   station_id    station_name  station_latitude  station_longitude
0        3209    Brunswick St         40.724176         -74.050656
1        3213  Van Vorst Park         40.718489         -74.047727
2        3213  Van Vorst Park         40.718489         -74.047727
3        3203   Hamilton Park         40.727596         -74.044247
4        3210  Pershing Field         40.742677         -74.051789
   station_id   station_name  station_latitude  station_longitude
0        3186  Grove St PATH         40.719586         -74.043117
1        3209   Brunswick St         40.724176         -74.050656
2        3195        Sip Ave         40.730743         -74.063784
3        3211     Newark Ave         40.721525         -74.046305
4        3187      Warren St         40.721124         -74.038051

### Rider

In [157]:
# collate rider info
rider_sql = rental_data[['user_type', 'birth_year', 'gender', 'age']]
# remove any duplicates
rider_sql = rider_sql.drop_duplicates().reset_index(drop=True)
# set up user_id
rider_sql['user_id'] = rider_sql.index

In [158]:
print(rider_sql.head())

    user_type  birth_year  gender   age  user_id
0  Subscriber      1964.0       2  52.0        0
1  Subscriber      1962.0       1  54.0        1
2  Subscriber      1962.0       2  54.0        2
3  Subscriber      1984.0       1  32.0        3
4    Customer         NaN       0   NaN        4

### Journey

In [159]:
combined_journey_rider = rental_data.merge(rider_sql, on=['user_type', 'birth_year', 'gender', 'age'])
journey_sql = combined_journey_rider.drop(['user_type','birth_year','gender','age', 'day', 'month', 'weekend', 'start_station_name', 'start_station_latitude', 'start_station_longitude', 'end_station_name', 'end_station_latitude', 'end_station_longitude'], axis=1)
journey_sql['date_id'] = journey_sql['date']
journey_sql['journey_id'] = journey_sql.index
print(journey_sql.head())

   trip_duration          start_time           stop_time  start_station_id  \
0            362 2016-01-01 00:02:52 2016-01-01 00:08:54              3186
1            452 2016-01-03 16:25:48 2016-01-03 16:33:21              3209
2            227 2016-01-03 17:11:56 2016-01-03 17:15:43              3211
3            263 2016-01-03 18:18:14 2016-01-03 18:22:38              3203
4            497 2016-01-03 22:11:25 2016-01-03 22:19:43              3186

   end_station_id  bike_id  duration_exceeded  duration_minutes        date  \
0            3209    24647              False              6.03  2016-01-01
1            3185    24662              False              7.53  2016-01-03
2            3203    24633              False              3.78  2016-01-03
3            3211    24633              False              4.38  2016-01-03
4            3209    24597              False              8.28  2016-01-03

   month_id  user_id     date_id  journey_id
0         1        0  2016-01-01           0
1         1        0  2016-01-03           1
2         1        0  2016-01-03           2
3         1        0  2016-01-03           3
4         1        0  2016-01-03           4

### Date

In [160]:
date_sql = rental_data[['date', 'day', 'month', 'month_id', 'weekend']]
date_sql = date_sql.drop_duplicates().reset_index(drop=True)
print(date_sql.head())

         date       day    month  month_id  weekend
0  2016-01-01    Friday  January         1    False
1  2016-01-02  Saturday  January         1     True
2  2016-01-03    Sunday  January         1     True
3  2016-01-04    Monday  January         1    False
4  2016-01-05   Tuesday  January         1    False

## Connect to Postgresql database

In [161]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/bike_rentals')

con = engine.connect()
journey_sql.to_sql('journey', con, if_exists='replace',index=False,chunksize=10000)
weather_sql.to_sql('weather', con, if_exists='replace',index=False,chunksize=10000)
station_sql.to_sql('station', con, if_exists='replace',index=False,chunksize=10000)
rider_sql.to_sql('rider', con, if_exists='replace',index=False,chunksize=10000)
date_sql.to_sql('date', con, if_exists='replace',index=False,chunksize=10000)
con.close()